/* Styles pour l'affichage sur les écrans ayant une largeur minimale de 320px */
@media screen and (min-width: 320px) {
  html {
    background-image: url("/Images/david-kovalenko-G85VuTpw6jg-unsplash.jpg");
  }
  
  .carrousel-slides img {
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid #ccc;
  }
  
  #title {
    animation: none;
    font-size: 26px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /*.carrousel-slides .copyright {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    text-align: center;
  }*/
  
  .carrousel-container {
    max-width: 90%;
    height: 500px;
  }

 
}
