* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

:root{
  --bg-color:#6685a9;
  --bg-div:#f3f3f3;
  }
  
html,body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}

#title{
  font-size: 30px;
  font-weight: bold;
  animation: colorChange 4s infinite alternate;
}


@keyframes colorChange {
  0% {

    color: rgb(183, 141, 141);
  }


  15%{

    color: rgb(252, 135, 135);

  }
  25%{

    color: rgb(135, 229, 252);

  }

  50%{

    color: rgb(42, 45, 198);

  }

  100% {

    color: rgb(127, 212, 127);
  }

}

.carrousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-div);
  width: 70%;
  height: 80vmin;
  padding: 2em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.62em;
  
}

/*img in the div .carrousel-slides*/
.carrousel-slides {
  /*background-color:#db3a3a;*/
  margin: 5px 0;
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
 

}

.carrousel-slides img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 95%;
  height: 95%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  opacity: 0;
  border: 3.5px solid black;
  transition: opacity 0.8s ease;
}

.carrousel-slides .copyright{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
}

.carrousel-slides img.active {
  opacity: 1;
  display: block;
}

.carrousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carrousel-buttons input[type="radio"] {
  display: none;
}

.carrousel-buttons label {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carrousel-buttons input[type="radio"]:checked + label {
  background-color: #2f455b;
}


/* Style de base du bouton */
#autoplay-toggle {
  margin: 10px 0 5px 0;
  padding: 10px 15px;
  background-color: #007bff;
  border-radius: 10px 0;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 25px;
}

/* Style lorsque le bouton est survolé */
#autoplay-toggle:hover {
  background-color: #0056b3;
}

/* Style lorsque le bouton est activé */
#autoplay-toggle[data-autoplay="on"] {
  background-color: #94dc35;
}

/* Style lorsque le bouton est désactivé */
#autoplay-toggle[data-autoplay="off"] {
  background-color: #007bff;
}


.carrousel-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pour espacer les flèches */
  width: 100%; /* Pour occuper toute la largeur du conteneur */
}


/* Styles pour les flèches de navigation */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #2f455b;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(231, 118, 118, 0.9);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (min-width: 320px) and (max-width: 900px) { /* Règles de style pour une largeur d'écran entre 320px et 900px */
  
  #title{
  animation: none;
  transition: none;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-family: 'Times New Roman', Times, serif;

  }


  .carrousel-slides img {
    display: block;
    max-width: 100%; /* Les images occupent 100% de la largeur du conteneur */
    height: auto; /* La hauteur est automatiquement ajustée pour conserver les proportions */
    margin: 0 auto; /* Centrer l'image horizontalement */
    object-fit: contain; /* Ajuster l'image tout en conservant ses proportions */
    opacity: 0;
    border: 3.5px solid black;
    transition: opacity 0.8s ease;
  }
  
}
